@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root {
    --color-background: rgba(233, 239, 236, 1);
    --font-: 'DM Sans', sans-serif;
    --color-texto: rgba(22, 66, 60, 1);
  }

  main {
    width: 1000px;
    height: 100vh;
    margin: auto;
    background-color: var(--color-background);
  }

  .primeiro-titulo {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: var(--font-);
    color: var(--color-texto);
  }

  .primeiro-titulo h1 {
    font-size: 2.5rem;
    padding: 15px;
  }

  .primeiro-subtitulo {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid var(--color-texto);
    border-bottom: 2px solid var(--color-texto);
    padding: 10px;
    font-family: var(--color-texto);
  }
  
  .data {
    display: flex;
    margin-left: 50px;
    color: var(--color-texto);
  }

  .inicio-namoro {
    display: flex;
    margin-right: 50px;
    color: var(--color-texto);
  }
  .titulo-pagina {
    border-bottom: 1px solid var(--color-texto);
    margin-bottom: 5px;
  }

  .h1-principal {
    font-size: 5rem;
    text-align: center;
    font-family: var(--color-texto);
    color: var(--font-);
  }
  .section-container {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-background);
    height: 500px;
  }
  .img-historia img {
    width: 520px;
    margin-left: 15px;
  }
  .img-historia p {
    margin-left: 10px;
    padding: 5px;
    font-family: var(--font-);
    font-size: 1.2rem;
  }

  .nossa-historia {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 450px;
    text-align: center;
    margin-right: 50px;
    border: 1px solid black;
    font-family: var(--font-);
    font-size: 1.4rem;
    padding: 10px;
    color: var(--color-texto);
  }

  .nossa-historia h1 {
    padding: 1px;
  }
  
  .img-historia  p {
    color: var(--color-texto);
  }

  .section-container2 {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-background);
  }

  .nossa-historia2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 50px;
    font-family: var(--font-);
    font-size: 1.4rem;
    padding: 10px;
    color: var(--color-texto);
  }

  footer {
    text-align: center;
    font-family: var(--font-);
    font-size: 2rem;
    border-top: 1.4px solid black;
    background-color: var(--color-background);
    color: var(--color-texto);
    margin-bottom: 40px;
    padding: 5px;
  }
  span {
    font-size: 1rem;
  }
