* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel-container {
    display: flex;
    width: 100vh;
    height: 400px;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;
}

.carousel-btn-prev, .carousel-btn-next {
    position: absolute;
    font-size: 20px;
    cursor: pointer;    
}

.carousel-btn-prev {
    left: 10px;
}

.carousel-btn-next {
    right: 10px;
}
